return [
    'service_manager' => [
        'factories'          => [
        ],
    ],
    'tactician'       => [
        'handler-map' => [
        ],
        'middleware'  => [
        ],
    ],
];